button(class= "#{scope}__button" type="button")
	div(class= "#{scope}__current")
	div(class= "#{scope}__plc" role="status")= placeholder
	div(class= "#{scope}__arrow")
		span(class= "#{scope}__arrow-icon" role="icon")
