li(
	class= selected ? "#{scope}__option #{scope}__option_state_active" : "#{scope}__option"
	data-index= index
	tabindex= index + 1
)
	span(class= "#{scope}__text")= text
	span(class= "#{scope}__icon" role="icon")

